
@import url("./github-gist.css");
@import url("../node_modules/github-markdown-css/github-markdown.css");
@import url("../node_modules/cirru-color/assets/cirru.css");

body {
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  flex-shrink: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,80%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}

pre {
  background-color: hsla(0, 0%, 96%, 0.5);
  border: 1px solid #eee;
  padding: 2px 8px;
  line-height: 1.4;
  min-width: 400px;
}

.doc-entry:hover {
  background-color: hsla(190, 10%, 70%, 0.1);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}


.calcit-tile {
  background-image: url('./calcit-tile.png');
  background-size: 163px 395px;
}
